@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

html {
  font-size: 16px;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 10px;
  }
}

body {
  background-color: #292a2d;
  color: #fff;
  font-family: Inter, "Helvetica", sans-serif;
}

.bg-gray {
  background-color: #3e4042;
}

.game-info {
  display: flex;
  justify-content: center;
  gap: 8em;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  font-size: 1.2rem;
}

.emotion {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  font-size: 3rem;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  text-align: center;
}

.score {
  font-size: 3rem;
}

.middle-section {
  display: flex;
  justify-content: center;
}

.opponent-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 10%;
  font-size: 10rem;
}

.round-result-message {
  text-align: center;
  font-size: 2rem;
}
